{% extends "layout.html" %}
{% block body %}

<div class="container">

    <div class="sixteen columns">
        <h2 id="welcome">Soundput is a music service that lets you to access and play your music on your <i>put.io</i> account anywhere in the world.</h2>
    </div>


    <div id="putio" class="one-third column feature">

        <h3>Have account</h3>
        <img src="../static/images/amblem.png">
        <p>Lorem ipsum dolor sit amet...</p>
    </div>


    <div id="cloud" class="one-third column feature">

        <h3>Store files in clouds</h3>
        <img src="../static/images/cloud-upload-512.png">
        <p>Lorem ipsum dolor sit amet...</p>
    </div>


    <div id="music" class="one-third column feature">

        <h3>Play your music</h3>
        <img src="../static/images/cd_music.png">
        <p>Lorem ipsum dolor sit amet...</p>
    </div>

</div>
{% endblock %}